@import url("variables.css");
@import url("fonts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-family: "Comic Relief", system-ui;

  color: var(--white-primary-color);
  background-color: var(--black-primary-color);

  display: grid;
  justify-items: center;
}

main {
  max-width: 144rem;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

input,
button {
  font-family: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}
