.main {
    margin-top: 4.5rem;
}
.main__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
}
.main__item {
    padding: 3rem;
    border-radius: var(--border-radius);
    /* background-color: #37b6fa; */
    display: grid;
    justify-items: center;
    transition: all 0.2s ease;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
}
.main__item:hover {
    transform: scale(1.05);
    /* background-color: rgba(24, 240, 255, 0.15); */
    border-left: 0.5rem solid rgb(24, 240, 255);
    border-right: 0.5rem solid rgb(24, 240, 255);
    box-shadow: 0 0 2rem rgb(24, 240, 255);
}
.main__img {
    width: 100%;
    border-radius: var(--border-radius);
    height: 25rem;
}
.main__title {
    margin-top: 1rem;
}
