@import url("general.css");

main {
  margin-top: 5rem;
}

pre {
  color: rgb(67, 255, 29);
}

.code {
  display: grid;
  grid-row-gap: 2rem;
}

.code__fragment {
  background-color: rgb(0, 20, 0);
  border-radius: 1.5rem;
  padding: 4rem;
}
