:root {
  --black-primary-color: #070707;
  --white-primary-color: #fafafa;
  --white-secondary-color: #eeeeee;
  --grey-inactive-color: #4b4b4b;
  --pink-primary-color: #ffc0cb;
  --pink-imp-color: #ff3f5f;
}
